<!doctype html>
<html lang="en-gb" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.documentElement.className = 'js';</script>
  <meta name="description" content="Game for children to show how to link data securely to help stop the spread of a mystery disease."/>
  <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
  <link rel="canonical" href="https://datadetective.pages.dev/" />
  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }} | Data Detective">
  <meta property="og:description" content="Game for children to show how to link data securely to help stop the spread of a mystery disease.">
  <meta property="og:url" content="https://datadetective.pages.dev/">
  <meta property="og:site_name" content="Data Detective">
  <meta property="og:image" content="/favicon/social.png">
  <meta property="og:image:secure_url" content="/favicon/social.png">
  <meta property="og:image:width" content="1270">
  <meta property="og:image:height" content="440">
  <meta property="og:image:type" content="image/png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }} | Data Detective">
  <meta name="twitter:description" content="Game for children to show how to link data securely to help stop the spread of a mystery disease.">
  <meta name="twitter:image" content="/favicon/social.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <title>{{ title }} | Data Detective</title>
</head>
<body class="{{ team }} {{ pageID }}">
  <header>
    <div class="container"><a class="site-title" href="/"><img class="logo" width="130" height="50" src="/img/logo.svg" alt="Data Detective"><span class="sr">Data Detective</span></a>
    <span class="team {{ team }}-team">{{ team }} Team</span>
    </div>

  </header>
  <article class="article">
    <div class="container">
      {{ content | safe }}
    </div>
  </article>
  <footer class="site-footer">
    <div class="tac pb2 mb1">

  <a href="https://wellcome.org/" rel="noopener" target="_blank"><img width="720" height="220" style="max-width:40px; height: auto" class="m-auto dib" src="/img/wellcome.svg" alt="Wellcome Trust"></a>

  <a href="https://www.scotpen.org/" rel="noopener" target="_blank"><img width="720" height="220" style="max-width:120px; height: auto; margin-left: 1rem;" class="m-auto dib" src="/img/scotpen.png" alt="Scottish Public Engagement Network"></a>

  <a href="https://www.gla.ac.uk/sphsu" rel="noopener" target="_blank"><img width="720" height="220" style="max-width:300px; height: auto" class="m-auto dib" src="/img/SPHSU-logo.png" alt="MRC/CSO Social and Public Health Sciences Unit"></a>

 <a href="https://matchnet.sphsu.gla.ac.uk/" rel="noopener" target="_blank"><img width="720" height="220" style="max-width:120px; height: auto" class="m-auto dib" src="/img/matchnet.svg" alt="Maternal and Child Health Network"></a>

 </div><div class="tac"><ul class="p05"><!--<li><a href="/cheats">Stuck?</a></li>--><li><a href="/about">About</a></li><li><a href="/team">Team</a></li><li><a href="/downloads">Downloads</a></li><li><a rel="noopener" target="_blank" href="https://twitter.com/theSPHSU">Twitter</a></li></ul></div>
</footer>
</body>
</html>