
.test {
  background-image: url(../img/bug.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
overscroll-behavior: auto contain;
  min-height: 100%;


.progress { -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;border: none;
  width: 100vw;
  position:absolute;
  top:0;
  left:0;
  height: 10px;
  padding:0;
  margin:0;

 background-color: orange;

    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {


    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}





/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:root {
  --nc-font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;






  /* Light theme */
  --nc-tx-1: #000000;
  --nc-tx-2: #1A1A1A;
  --nc-bg-1: #FFFFFF;
  --nc-bg-2: #F6F8FA;
  --nc-bg-3: #E5E7EB;
  --nc-lk-1: #0070F3;
  --nc-lk-2: #0366D6;
  --nc-lk-tx: #FFFFFF;
  --nc-ac-1: #79FFE1;
  --nc-ac-tx: #0C4047;

  /* Dark theme */
  --nc-d-tx-1: #ffffff;
  --nc-d-tx-2: #eeeeee;
  --nc-d-bg-1: #000000;
  --nc-d-bg-2: #111111;
  --nc-d-bg-3: #222222;
  --nc-d-lk-1: #3291FF;
  --nc-d-lk-2: #0070F3;
  --nc-d-lk-tx: #FFFFFF;
  --nc-d-ac-1: #7928CA;
  --nc-d-ac-tx: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nc-tx-1: var(--nc-d-tx-1);
    --nc-tx-2: var(--nc-d-tx-2);
    --nc-bg-1: var(--nc-d-bg-1);
    --nc-bg-2: var(--nc-d-bg-2);
    --nc-bg-3: var(--nc-d-bg-3);
    --nc-lk-1: var(--nc-d-lk-1);
    --nc-lk-2: var(--nc-d-lk-2);
    --nc-lk-tx: var(--nc--dlk-tx);
    --nc-ac-1: var(--nc-d-ac-1);
    --nc-ac-tx: var(--nc--dac-tx);
  }
}



body {
  /* Center body in page */
  margin: 0 auto;

  padding: 2rem;
  border-radius: 6px;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  background: var(--nc-bg-1);
 background-color: var(--beige);
 background-color: #F0E6D1;
  /* Main body text */
  color: var(--nc-tx-2);
  font-size: 1.03rem;
  line-height: 1.5;
}

header {

}


 svg {padding-left:2rem;}
article { background-color: var(--white);
max-width:60rem;
margin: 0 auto;
    margin-top: 96px;


  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;

}
::selection {
  /* Set background color for selected text */
  background: var(--nc-ac-1);
  color: var(--nc-ac-tx);
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  color: var(--nc-tx-1);
  padding-top: .875rem;
}

h1,
h2,
h3 {
  color: var(--nc-tx-1);
  padding-bottom: 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--nc-bg-2);

}

h4,
h5,
h6 {
  margin-bottom: .3rem;
}

h1 {
  //font-size: 2.25rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .875rem;
}

a {
  color: var(--nc-lk-1);
}

a:hover {
  color: var(--nc-lk-2);
}

abbr:hover {
  /* Set the '?' cursor while hovering an abbreviation */
  cursor: help;
}

blockquote {
  padding: 1.5rem;
  background: var(--nc-bg-2);
  border-left: 5px solid var(--nc-bg-3);
}

abbr {
  cursor: help;
}

blockquote *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

header {
  background: var(--nc-bg-2);
  border-bottom: 0px solid var(--black);

  padding: 2rem 1.5rem 1rem;

  /* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */

  margin: -2rem calc(0px - (50vw - 50%)) 2rem;

  /* Shorthand for:
  margin-top: -2rem;
  margin-bottom: 2rem;
  margin-left: calc(0px - (50vw - 50%));
  margin-right: calc(0px - (50vw - 50%)); */

  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

header {
  //border-top: 8px solid var(--tomato);
  background-color: var(--beige);
}

.logo img{
  width:90px;
  height:auto;
}

header h1,
header h2,
header h3 {
  padding-bottom: 0;
  border-bottom: 0;
}

header > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

header > *:last-child {
  margin-bottom: 0;
}

/*
a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 1rem;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: var(--nc-lk-1);
  color: var(--nc-lk-tx);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--nc-lk-tx);
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: .5;


  cursor: not-allowed;
}


.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
  background: var(--nc-lk-2);
}
*/
button a {
  color: white;
  text-decoration: none;
}

dt {
  font-weight: bold;
}

dd::before {
  /* Add an arrow to data table definitions */
  content: '→ ';
}

hr {
  /* Reset the border of the <hr> separator, then set a better line */
  border: 0;
  border-bottom: 1px solid var(--nc-bg-3);
  margin: 1rem auto;
}

fieldset {
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid var(--nc-bg-3);
  border-radius: 4px;
}

legend {
  padding: auto .5rem;
}

ol,
ul {
  /* Replace the browser default padding */
  padding-left: 0rem;
}

li {
  margin-top: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

mark {
  padding: 3px 6px;
  background: var(--nc-ac-1);
  color: var(--nc-ac-tx);
}

textarea,
select,
input {
  padding: 6px 12px;
  margin-bottom: .5rem;
  background: var(--nc-bg-2);
  color: var(--nc-tx-2);
  border: 1px solid var(--nc-bg-3);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}







  .pushable, .btn,button, input[type=submit] {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}



address, article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
nav,
ol,
optgroup,
option,
output,
p,
pre,
section,
table,
textarea,
ul,
video {
  margin-bottom: 1rem;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family:  'VAG Rounded Std', sans-serif;

  font-weight:300;

}


.grid {
  display: grid;

}

.grid-md-2 {
  grid-template-columns: 1fr 1fr;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:root {
  --nc-font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;

  --black: #111;
  --white: #fefe33;
  --beige: #F6F0E4;

  --yellow: #fefe33;
  --light-orange: #fabc02;
  --orange: #fb9902;
  --tomato: #fd5308;
  --red: #FE2712;
  --magenta: #a7194b;
  --purple: #8601AF;
  --deep-purple: #3d01a4;
  --blue:#0247FE;
  --light-blue: #0391CE;
  --green: #66B032;
  --light-green: #D0EA2B;





  /* Light theme */
  --nc-tx-1: #000000;
  --nc-tx-2: #1A1A1A;
  --nc-bg-1: #FFFFFF;
  --nc-bg-2: #F6F8FA;
  --nc-bg-3: #E5E7EB;
  --nc-lk-1: #0070F3;
  --nc-lk-2: #0366D6;
  --nc-lk-tx: #FFFFFF;
  --nc-ac-1: #79FFE1;
  --nc-ac-tx: #0C4047;

  /* Dark theme */
  --nc-d-tx-1: #ffffff;
  --nc-d-tx-2: #eeeeee;
  --nc-d-bg-1: #000000;
  --nc-d-bg-2: #111111;
  --nc-d-bg-3: #222222;
  --nc-d-lk-1: #3291FF;
  --nc-d-lk-2: #0070F3;
  --nc-d-lk-tx: #FFFFFF;
  --nc-d-ac-1: #7928CA;
  --nc-d-ac-tx: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nc-tx-1: var(--nc-d-tx-1);
    --nc-tx-2: var(--nc-d-tx-2);
    --nc-bg-1: var(--nc-d-bg-1);
    --nc-bg-2: var(--nc-d-bg-2);
    --nc-bg-3: var(--nc-d-bg-3);
    --nc-lk-1: var(--nc-d-lk-1);
    --nc-lk-2: var(--nc-d-lk-2);
    --nc-lk-tx: var(--nc--dlk-tx);
    --nc-ac-1: var(--nc-d-ac-1);
    --nc-ac-tx: var(--nc--dac-tx);
  }
}

* {
  /* Reset margins and padding */
  margin: 0;
  padding: 0;
}


address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
  /* Margins for most elements */
  margin-bottom: 1rem;
}

html,input,select,button {
  /* Set body font family and some finicky elements */
 }

body {
  /* Center body in page */
  margin: 0 auto;

  padding: 2rem;
  border-radius: 6px;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  background: var(--nc-bg-1);
 background-color: var(--beige);
 background-color: #F0E6D1;
  /* Main body text */
  color: var(--nc-tx-2);
  font-size: 1.03rem;
  line-height: 1.5;
}
.colormode-light {
 --color-canvas:#fff;
 --color-textPrimary:#1a1a1a;
 --color-textSecondary:#666;
 --color-textTertiary:#8c8c8c;
 --color-textLinkHover:#008078;
 --color-textLinkPressed:#004d48;
 --color-textAccent:#3668ff;
 --color-actionPrimarySubdued:#e8f7f6;
 --color-actionSecondary:#1a1a1a;
 --color-actionSecondaryHover:#1a1a1a;
 --color-actionSecondaryHoverText:#f2f2f2;
 --color-actionSecondaryText:#1a1a1a;
 --color-actionBrandSubdued:#fdf2f5;
 --color-actionFocus:#009990;
 --color-formFieldFocusLabel:#008078;
 --color-formFieldTextPrimary:#1a1a1a;
 --color-formFieldTextSecondary:#666;
 --color-formFieldBorder:#8c8c8c;
 --color-formFieldBorderHover:#333;
 --color-error:#b24000;
 --color-popoverCanvas:#fff;
 --color-popoverBorder:#d9d9d9;
 --color-navCurrentTab:#e0f0ef;
 --color-navCurrentTabText:#008078;
 --color-tooltipCanvas:#1a1a1a;
 --color-tooltipText:#f2f2f2;
 --color-dividerPrimary:#333;
 --color-dividerSecondary:#8c8c8c;
 --color-dividerTertiary:#d9d9d9;
 --color-drawerCanvas:#fff;
 --color-calloutBackgroundPrimary:#e8f7f6;
 --color-calloutBackgroundSecondary:#fdf2f5;
 --color-calloutAccent:#1a1a1a
}
.colormode-dark,
.colormode-light {
 --color-actionPrimary:#008078;
 --color-actionPrimaryHover:#004d48;
 --color-actionPrimaryText:#fff;
 --color-actionBrand:#ef4056;
 --color-actionBrandHover:#901424;
 --color-actionBrandText:#fff;
 --color-menuItemHover:#008078;
 --color-menuItemHoverText:#fff;
 --color-menuItemActive:#004d48
}
.colormode-dark {
 --color-canvas:#1a1a1a;
 --color-textPrimary:#f2f2f2;
 --color-textSecondary:#8c8c8c;
 --color-textTertiary:#737373;
 --color-textLinkHover:#00a69c;
 --color-textLinkPressed:#00d9cc;
 --color-textAccent:#95d2ff;
 --color-actionPrimarySubdued:#00403c;
 --color-actionSecondary:#f2f2f2;
 --color-actionSecondaryHover:#f2f2f2;
 --color-actionSecondaryHoverText:#1a1a1a;
 --color-actionSecondaryText:#f2f2f2;
 --color-actionBrandSubdued:#6c000e;
 --color-actionFocus:#00ccc0;
 --color-formFieldFocusLabel:#00a69c;
 --color-formFieldTextPrimary:#f2f2f2;
 --color-formFieldTextSecondary:#8c8c8c;
 --color-formFieldBorder:#737373;
 --color-formFieldBorderHover:#ccc;
 --color-error:#e55300;
 --color-popoverCanvas:#333;
 --color-popoverBorder:#595959;
 --color-navCurrentTab:#274f4c;
 --color-navCurrentTabText:#00ccc0;
 --color-tooltipCanvas:#f2f2f2;
 --color-tooltipText:#1a1a1a;
 --color-dividerPrimary:#ccc;
 --color-dividerSecondary:#737373;
 --color-dividerTertiary:#404040;
 --color-drawerCanvas:#333;
 --color-calloutBackgroundPrimary:#004d48;
 --color-calloutBackgroundSecondary:#333;
 --color-calloutAccent:#00ccc0
}
.colormode-sepia {
 --color-canvas:#f5eddd;
 --color-textPrimary:#191917;
 --color-textSecondary:#66635c;
 --color-textTertiary:#8c877e;
 --color-textLinkHover:#00736c;
 --color-textLinkPressed:#00403c;
 --color-textAccent:#1649ac;
 --color-actionPrimary:#00736c;
 --color-actionPrimaryHover:#00403c;
 --color-actionPrimarySubdued:#e8f7f6;
 --color-actionPrimaryText:#fff;
 --color-actionSecondary:#191917;
 --color-actionSecondaryHover:#191917;
 --color-actionSecondaryHoverText:#fffcf7;
 --color-actionSecondaryText:#191917;
 --color-actionBrand:#ef4056;
 --color-actionBrandHover:#901424;
 --color-actionBrandSubdued:#fdf2f5;
 --color-actionBrandText:#fff;
 --color-actionFocus:#009990;
 --color-formFieldFocusLabel:#00736c;
 --color-formFieldTextPrimary:#191917;
 --color-formFieldTextSecondary:#66635c;
 --color-formFieldBorder:#8c877e;
 --color-formFieldBorderHover:#33312e;
 --color-error:#b24000;
 --color-popoverCanvas:#f5eddd;
 --color-popoverBorder:#ccc5b8;
 --color-menuItemHover:#00736c;
 --color-menuItemHoverText:#fffcf7;
 --color-menuItemActive:#00403c;
 --color-navCurrentTab:#d8decf;
 --color-navCurrentTabText:#00736c;
 --color-tooltipCanvas:#191917;
 --color-tooltipText:#f2f2f2;
 --color-dividerPrimary:#33312e;
 --color-dividerSecondary:#8c877e;
 --color-dividerTertiary:#ccc5b8;
 --color-drawerCanvas:#f5eddd;
 --color-calloutBackgroundPrimary:#e8f7f6;
 --color-calloutBackgroundSecondary:#fdf2f5;
 --color-calloutAccent:#1a1a1a
}
:root {
 --color-white100:#fff;
 --color-cream100:#fffcf7;
 --color-grey10:#1a1a1a;
 --color-grey20:#333;
 --color-grey25:#404040;
 --color-grey30:#4d4d4d;
 --color-grey35:#595959;
 --color-grey40:#666;
 --color-grey45:#737373;
 --color-grey55:#8c8c8c;
 --color-grey65:#a6a6a6;
 --color-grey80:#ccc;
 --color-grey85:#d9d9d9;
 --color-grey95:#f2f2f2;
 --color-sepia10:#191917;
 --color-sepia20:#33312e;
 --color-sepia25:#403e3a;
 --color-sepia40:#66635c;
 --color-sepia45:#736f68;
 --color-sepia55:#8c877e;
 --color-sepia65:#a6a095;
 --color-sepia80:#ccc5b8;
 --color-sepia90:#e5decf;
 --color-sepia96:#f5eddd;
 --color-sepia100:#fff7e6;
 --color-teal25:#00403c;
 --color-teal30:#004d48;
 --color-teal45:#00736c;
 --color-teal50:#008078;
 --color-teal60:#009990;
 --color-teal65:#00a69c;
 --color-teal70:#00b2a8;
 --color-teal75:#00bfb4;
 --color-teal80:#00ccc0;
 --color-teal85:#00d9cc;
 --color-teal100:#e8f7f6;
 --color-tealLightestFill:#e0f0ef;
 --color-tealLightestFillSepia:#d8decf;
 --color-tealLightestFillDark:#274f4c;
 --color-coralDarker:#6c000e;
 --color-coralDark:#901424;
 --color-coral:#ef4056;
 --color-coralLight:#f9bfd1;
 --color-coralLightest:#fdf2f5;
 --color-amberDarker:#b24000;
 --color-amberDark:#e55300;
 --color-amber:#fcb643;
 --color-amberLight:#ffd25e;
 --color-amberLightest:#fffbe3;
 --color-mintDarker:#0b6639;
 --color-mintDark:#29a668;
 --color-mint:#00cb77;
 --color-mintLight:#82ecb7;
 --color-mintLightest:#c6ffe3;
 --color-lapisDarker:#00256d;
 --color-lapisDark:#1649ac;
 --color-lapis:#3668ff;
 --color-lapisLight:#95d2ff;
 --color-lapisLightest:#dceaff;
 --color-apricotDarker:#9f2600;
 --color-apricotDark:#d23807;
 --color-apricot:#f67d6d;
 --color-apricotLight:#feb69f;
 --color-apricotLightest:#fdf0ec;
 --color-irisDarker:#802ac3;
 --color-irisDark:#9971ef;
 --color-iris:#c4a5f7;
 --color-irisLight:#dab5ff;
 --color-irisLightest:#f2deff;
 --color-brandPocket:#ef4056;
 --color-brandFacebook:#3b5998;
 --color-brandTwitter:#00aced;
 --color-brandReddit:#ff4500;
 --color-brandLinkedin:#007bb6;
 --fontSerif:"Blanco OSF",Garamond,Times,Serif;
 --fontSerifAlt:"Doyle",Garamond,Times,Serif;
 --fontSansSerif:"Graphik Web","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 --fontSizeRootSmall:80%;
 --fontSizeRootMedium:87.5%;
 --fontSizeRoot:100%;
 --fontSize065:0.625rem;
 --fontSize075:0.75rem;
 --fontSize085:0.875rem;
 --fontSize100:1rem;
 --fontSize125:1.1875rem;
 --fontSize150:1.4375rem;
 --fontSize175:1.75rem;
 --fontSize200:2.0625rem;
 --fontSize250:2.5rem;
 --fontSize300:3rem;
 --spacing025:0.25rem;
 --spacing050:0.5rem;
 --spacing075:0.75rem;
 --spacing100:1rem;
 --spacing150:1.5rem;
 --spacing250:2.5rem;
 --spacing400:4rem;
 --spacing650:6.5rem;
 --size025:0.25rem;
 --size050:0.5rem;
 --size075:0.75rem;
 --size100:1rem;
 --size125:1.25rem;
 --size150:1.5rem;
 --size200:2rem;
 --size250:2.5rem;
 --size300:3rem;
 --size400:4rem;
 --size500:5rem;
 --zIndexRaised:3;
 --zIndexHeader:5;
 --zIndexTooltip:10;
 --zIndexModalShade:20;
 --zIndexModal:21;
 --zIndexColorModePicker:30;
 --borderStyle:1px solid var(--color-formFieldBorder);
 --borderRadius:4px;
 --dividerStyle:1px solid var(--color-dividerTertiary);
 --raisedCanvas:0 2px 12px rgba(0,0,0,0.08);
 --itemActionLight:0 3px 8px rgba(0,0,0,0.1);
 --itemActionsDark:0 3px 8px rgba(0,0,0,0.4);
 --easingAccelerate:cubic-bezier(0.4,0,1,1);
 --easingDecelerate:cubic-bezier(0,0,0.2,1);
 --easingStandard:cubic-bezier(0.4,0,0.2,1);
 --uiControlsDurationEnterMS:100ms;
 --uiControlsDurationExitMS:50ms;
 --dialogsDurationEnterMS:150ms;
 --dialogsDurationExitMS:75ms;
 --navDrawerDurationEnterMS:250ms;
 --navDrawerDurationExitMS:200ms
}
header {
   box-shadow:
  inset 0px -11px 8px -10px rgba(0,0,0,0.5);

      position: fixed;
    z-index: var(--zIndexTooltip);
    width: 100%;
    background: var(--color-canvas);
    box-shadow: var(--raisedCanvas);
    border-bottom: 1px solid var(--color-dividerTertiary);


}
h1 {
  font-size: 2rem;
}


 svg {padding-left:2rem;}
article { background-color: var(--white);
max-width:60rem;
margin: 0 auto;
    margin-top: 96px;


  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;

}
::selection {
  /* Set background color for selected text */
  background: var(--nc-ac-1);
  color: var(--nc-ac-tx);
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  color: var(--nc-tx-1);
  padding-top: .875rem;
}

h1,
h2,
h3 {
  color: var(--nc-tx-1);
  padding-bottom: 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--nc-bg-2);

}

h4,
h5,
h6 {
  margin-bottom: .3rem;
}

h1 {
  //font-size: 2.25rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .875rem;
}

a {
  color: var(--nc-lk-1);
}

a:hover {
  color: var(--nc-lk-2);
}

abbr:hover {
  /* Set the '?' cursor while hovering an abbreviation */
  cursor: help;
}

blockquote {
  padding: 1.5rem;
  background: var(--nc-bg-2);
  border-left: 5px solid var(--nc-bg-3);
}

abbr {
  cursor: help;
}

blockquote *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

header {
  background: var(--nc-bg-2);
  border-bottom: 0px solid var(--black);

  padding: 2rem 1.5rem 1rem;

  /* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */

  margin: -2rem calc(0px - (50vw - 50%)) 2rem;

  /* Shorthand for:
  margin-top: -2rem;
  margin-bottom: 2rem;
  margin-left: calc(0px - (50vw - 50%));
  margin-right: calc(0px - (50vw - 50%)); */

  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

header {
  //border-top: 8px solid var(--tomato);
  background-color: var(--beige);
}

.logo img{
  width:90px;
  height:auto;
}

header h1,
header h2,
header h3 {
  padding-bottom: 0;
  border-bottom: 0;
}

header > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

header > *:last-child {
  margin-bottom: 0;
}

/*
a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 1rem;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: var(--nc-lk-1);
  color: var(--nc-lk-tx);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--nc-lk-tx);
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: .5;


  cursor: not-allowed;
}


.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
  background: var(--nc-lk-2);
}
*/
button a {
  color: white;
  text-decoration: none;
}

details {
  /* Make the <details> look more "clickable" */
  padding: .6rem 1rem;
  background: var(--nc-bg-2);
  border: 1px solid var(--nc-bg-3);
  border-radius: 4px;
}

summary {
  /* Makes the <summary> look more like a "clickable" link with the pointer cursor */
  cursor: pointer;
  font-weight: bold;
}

details[open] {
  /* Adjust the <details> padding while open */
  padding-bottom: .75rem;
}

details[open] summary {
  /* Adjust the <details> padding while open */
  margin-bottom: 6px;
}

details[open]>*:last-child {
  /* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd::before {
  /* Add an arrow to data table definitions */
  content: '→ ';
}

hr {
  /* Reset the border of the <hr> separator, then set a better line */
  border: 0;
  border-bottom: 1px solid var(--nc-bg-3);
  margin: 1rem auto;
}

fieldset {
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid var(--nc-bg-3);
  border-radius: 4px;
}

legend {
  padding: auto .5rem;
}

table {
  /* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
  border-collapse: collapse;
  width: 100%
}

td,
th {
  border: 1px solid var(--nc-bg-3);
  text-align: left;
  padding: .5rem;
}input {max-width: 4rem; background-color: white; border: 1px solid black;}

th {
  background: var(--nc-bg-2);
}


tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--nc-bg-2);
}



ol,
ul {
  /* Replace the browser default padding */
  padding-left: 0rem;
}

li {
  margin-top: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

mark {
  padding: 3px 6px;
  background: var(--nc-ac-1);
  color: var(--nc-ac-tx);
}

textarea,
select,
input {
  padding: 6px 12px;
  margin-bottom: .5rem;
  background: var(--nc-bg-2);
  color: var(--nc-tx-2);
  border: 1px solid var(--nc-bg-3);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}



  .circle-outer {
  position: relative;
  border: 1px solid black;
  padding: 0;
    margin: 0em auto;
  width: 30em;
    height: 30em;
  border-radius: 100%;
  list-style: none;
    overflow: hidden;



li {
  overflow: hidden;
  position: absolute;
  top: 0; right: 0;
  width: 50%; height: 50%;
  transform-origin: 0% 100%;
}
.text {
  position: absolute;
  left: -100%;
  width: 200%; height: 200%;
  text-align: center;

    transform: skewY(180deg) rotate(45deg);
    padding-top: 20px;
}



li:first-child {

  transform: rotate(0deg) skewY(-180deg);
}
li:nth-child(2) {

  transform: rotate(90deg) skewY(-180deg);
}
li:nth-child(3) {

  transform: rotate(180deg) skewY(-180deg);
}
li:nth-child(4) {

  transform: rotate(270deg) skewY(-180deg);
}

li:first-child .text {
  //  background: green;
}
li:nth-child(2) .text {
 // background: tomato;
}
li:nth-child(3) .text {
 //  background: aqua;
}
}


  .circle-inner {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 0;
    margin: 0em auto;
  width: 10em;
    height: 10em;
    top:5em;
    left: 5em;
  border-radius: 100%;
  list-style: none;
    overflow: hidden;
}

  .circle {
  position: absolute;
  border: 1px solid black;
  padding: 0;
    margin: 0em auto;
  width: 20em;
    height: 20em;
    top:5em;
    left: 5em;
  border-radius: 100%;
  list-style: none;
    overflow: hidden;

}



  .pushable, .btn,button, input[type=submit] {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}





:root {
  --primary-ch: 30 296;
  --secondary-ch: 20 217;

  --l-0: 0%;
  --l-30: 30%;
  --l-40: 40%;
  --l-50: 50%;
  --l-60: 60%;
  --l-90: 90%;
  --l-100: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --l-0: 100%;
    --l-30: 70%;
    --l-40: 60%;
    --l-60: 40%;
    --l-90: 10%;
    --l-100: 0%;
  }
}

body {
  margin: 1rem;
  background: lch(var(--l-100) 0 0);
  color: lch(var(--l-0) 0 0);
}

h1 {
  color: lch(var(--l-30) var(--primary-ch));
}

article {
  background: lch(var(--l-90) var(--primary-ch));
  border-radius: .3rem;
  overflow: hidden;
  margin: 1em 0;
}

article h2 {
  padding: .3rem .5rem;
  margin: 0;
  background: lch(var(--l-40) var(--primary-ch));
  color: lch(var(--l-100) 0 0);
}

article .content {
  padding: 0 .5rem;
}

article.alt {
  --primary-hs: var(--secondary-hs);
  --primary-ch: var(--secondary-ch);
}

footer {
  margin-top: 1rem;
  border-top: 1px solid;
  color: lch(var(--l-40) 0 0);
  font-size: smaller;
}



@media (max-width:22.49em){
    .action,.btn,.button,.site-5 .menu-sub-menu-container-2 a,.site-5 .menu-sub-menu-container a,.wp-block-button__link,[type=button],[type=reset],[type=submit],a strong,strong a{
        padding:0.375rem 0.125rem
    }
}
.action:hover,.btn:hover,.button:hover,.site-5 .menu-sub-menu-container-2 a:hover,.site-5 .menu-sub-menu-container a:hover,.wp-block-button__link:hover,[type=button]:hover,[type=reset]:hover,[type=submit]:hover,a strong:hover,strong a:hover{
    text-decoration:none
}
.action:active,.action:focus,.btn:active,.btn:focus,.button:active,.button:focus,.site-5 .menu-sub-menu-container-2 a:active,.site-5 .menu-sub-menu-container-2 a:focus,.site-5 .menu-sub-menu-container a:active,.site-5 .menu-sub-menu-container a:focus,.wp-block-button__link:active,.wp-block-button__link:focus,[type=button]:active,[type=button]:focus,[type=reset]:active,[type=reset]:focus,[type=submit]:active,[type=submit]:focus,a strong:active,a strong:focus,strong a:active,strong a:focus{
    color:var(--color-text-alpha);
    background-color:var(--btn-main)
}
.action:disabled,.action[disabled],.btn:disabled,.btn[disabled],.button:disabled,.button[disabled],.site-5 .menu-sub-menu-container-2 a:disabled,.site-5 .menu-sub-menu-container-2 a[disabled],.site-5 .menu-sub-menu-container a:disabled,.site-5 .menu-sub-menu-container a[disabled],.wp-block-button__link:disabled,.wp-block-button__link[disabled],[type=button]:disabled,[type=button][disabled],[type=reset]:disabled,[type=reset][disabled],[type=submit]:disabled,[type=submit][disabled],a strong:disabled,a strong[disabled],strong a:disabled,strong a[disabled]{
    background:var(--color-bg-secondary);
    border-color:var(--color-bg-secondary);
    color:var(--color-text-secondary);
    cursor:not-allowed
}
.action:disabled:hover,.action[disabled]:hover,.btn:disabled:hover,.btn[disabled]:hover,.button:disabled:hover,.button[disabled]:hover,.site-5 .menu-sub-menu-container-2 a:disabled:hover,.site-5 .menu-sub-menu-container-2 a[disabled]:hover,.site-5 .menu-sub-menu-container a:disabled:hover,.site-5 .menu-sub-menu-container a[disabled]:hover,.wp-block-button__link:disabled:hover,.wp-block-button__link[disabled]:hover,[type=button]:disabled:hover,[type=button][disabled]:hover,[type=reset]:disabled:hover,[type=reset][disabled]:hover,[type=submit]:disabled:hover,[type=submit][disabled]:hover,a strong:disabled:hover,a strong[disabled]:hover,strong a:disabled:hover,strong a[disabled]:hover{
    background:var(--color-bg-secondary);
    border-color:var(--color-bg-secondary);
    color:var(--color-text-secondary)
}
input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=range],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea{
    background-color:var(--color-bg-omega)
}
input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=range]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,textarea:focus{
    color:var(--color-text-alpha)
}
[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
input::placeholder{
    color:var(--color-text-alpha)
}


.nhsuk-button {
 font-weight:400;
 font-size:16px;
 font-size:1rem;
 line-height:1.5;
 margin-bottom:28px;
 -webkit-appearance:none;
 background-color:#007f3b;
 border:2px solid transparent;
 border-radius:4px;
 box-shadow:0 4px 0 #00401e;
 box-sizing:border-box;
 color:#fff;
 cursor:pointer;
 display:inline-block;
 font-weight:600;
 margin-top:0;
 padding:12px 16px;
 position:relative;
 text-align:center;
 vertical-align:top;
 width:auto
}
@media (min-width:40.0625em) {
 .nhsuk-button {
  font-size:19px;
  font-size:1.1875rem;
  line-height:1.47368
 }
}
@media print {
 .nhsuk-button {
  font-size:14pt;
  line-height:1.15
 }
}
@media (min-width:40.0625em) {
 .nhsuk-button {
  margin-bottom:36px
 }
}
@media (max-width:40.0525em) {
 .nhsuk-button {
  padding:8px 16px
 }
}
.nhsuk-button:active,
.nhsuk-button:hover,
.nhsuk-button:link,
.nhsuk-button:visited {
 color:#fff;
 text-decoration:none
}
.nhsuk-button::-moz-focus-inner {
 border:0;
 padding:0
}
.nhsuk-button:hover {
 background-color:#00662f
}
.nhsuk-button:focus {
 background:#ffeb3b;
 box-shadow:0 4px 0 #212b32;
 color:#212b32;
 outline:4px solid transparent
}
.nhsuk-button:focus:visited {
 color:#212b32
}
.nhsuk-button:focus:visited:active {
 color:#fff
}
.nhsuk-button:active {
 background:#00401e;
 box-shadow:none;
 color:#fff;
 top:4px
}
.nhsuk-button::before {
 background:0 0;
 bottom:-6px;
 content:'';
 display:block;
 left:-2px;
 position:absolute;
 right:-2px;
 top:-2px
}
.nhsuk-button:active::before {
 top:-6px
}
.nhsuk-button--secondary {
 background-color:#4c6272;
 box-shadow:0 4px 0 #263139
}
.nhsuk-button--secondary:hover {
 background-color:#384853
}
.nhsuk-button--secondary:focus {
 background:#ffeb3b;
 box-shadow:0 4px 0 #212b32;
 color:#212b32;
 outline:4px solid transparent
}
.nhsuk-button--secondary:active {
 background:#263139;
 box-shadow:none;
 color:#fff;
 top:4px
}
.nhsuk-button--secondary.nhsuk-button--disabled {
 background-color:#4c6272
}
.nhsuk-button--reverse {
 background-color:#fff;
 box-shadow:0 4px 0 #212b32;
 color:#212b32
}
.nhsuk-button--reverse:hover {
 background-color:#f2f2f2;
 color:#212b32
}
.nhsuk-button--reverse:focus {
 background:#ffeb3b;
 box-shadow:0 4px 0 #212b32;
 color:#212b32;
 outline:4px solid transparent
}
.nhsuk-button--reverse:active {
 background:#212b32;
 box-shadow:none;
 color:#fff;
 top:4px
}
.nhsuk-button--reverse:link {
 color:#212b32
}
.nhsuk-button--reverse:link:active {
 color:#fff
}
.nhsuk-button--reverse.nhsuk-button--disabled {
 background-color:#fff
}
.nhsuk-button--reverse.nhsuk-button--disabled:focus {
 background-color:#fff
}
.nhsuk-button--disabled,
.nhsuk-button[disabled=disabled],
.nhsuk-button[disabled] {
 background-color:#007f3b;
 opacity:.5;
 pointer-events:none
}
.nhsuk-button--disabled:hover,
.nhsuk-button[disabled=disabled]:hover,
.nhsuk-button[disabled]:hover {
 background-color:#007f3b;
 cursor:default
}
.nhsuk-button--disabled:focus,
.nhsuk-button[disabled=disabled]:focus,
.nhsuk-button[disabled]:focus {
 background-color:#007f3b;
 outline:0
}
.nhsuk-button--disabled:active,
.nhsuk-button[disabled=disabled]:active,
.nhsuk-button[disabled]:active {
 box-shadow:0 4px 0 #00401e;
 top:0
}
.nhsuk-button--secondary[disabled=disabled],
.nhsuk-button--secondary[disabled] {
 background-color:#4c6272;
 opacity:.5
}
.nhsuk-button--secondary[disabled=disabled]:hover,
.nhsuk-button--secondary[disabled]:hover {
 background-color:#4c6272;
 cursor:default
}
.nhsuk-button--secondary[disabled=disabled]:focus,
.nhsuk-button--secondary[disabled]:focus {
 outline:0
}
.nhsuk-button--secondary[disabled=disabled]:active,
.nhsuk-button--secondary[disabled]:active {
 box-shadow:0 4px 0 #263139;
 top:0
}
.nhsuk-button--reverse[disabled=disabled],
.nhsuk-button--reverse[disabled] {
 background-color:#fff;
 opacity:.5
}
.nhsuk-button--reverse[disabled=disabled]:hover,
.nhsuk-button--reverse[disabled]:hover {
 background-color:#fff;
 cursor:default
}
.nhsuk-button--reverse[disabled=disabled]:focus,
.nhsuk-button--reverse[disabled]:focus {
 outline:0
}
.nhsuk-button--reverse[disabled=disabled]:active,
.nhsuk-button--reverse[disabled]:active {
 box-shadow:0 4px 0 #212b32;
 top:0
}
.ie8 .nhsuk-button:focus {
 outline:1px dotted #212b32
}





.clearfix:after{
    content:"";
    display:table;
    clear:both
}
:root{
    --black:#17173C;
    --dark-grey:#494A43;
    --dark-green:#005346;
    --bright-green:#00FF00;
    --red:#ba2948;
    --orange:#F18700;
    --pink:#FF257D;
    --yellow:#FDC100;
    --ash:#C1C2B1;
    --grey:#777772;
    --mid-grey:#E0E1D8;
    --light-grey:#F9F9F7;
    --white:#fff;
    --border-radius:1.625rem;
    --round-radius:100%;
    --bg:var(--yellow);
    --color:var(--black);
    --font:Inter,sans-serif;
    --alt-font:Spectral,serif;
    --font-size:calc(16px + .25vw);
    --h1:2.5rem;
    --h2:2rem;
    --h3:1.5rem;
    --h4:1.25rem;
    --normal:100%;
    --small-medium:0.875rem;
    --small:0.75rem;
    --x-small:0.625rem;
    --unit:1rem;
    --unit-double:2rem;
    --unit-half:.5rem;
    --border-radius:1.5rem;

    quotes: "“" "”" "‘" "’";
}
@media screen and (prefers-reduced-motion:reduce){
    *{
        animation-duration:0.01ms!important;
        animation-iteration-count:1!important;
        transition-duration:0.01ms!important
    }
    html{
        scroll-behavior:initial
    }
}
*,:after,:before{
    box-sizing:inherit
}
*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    font-weight:normal;
    font-style:normal
}
html{
    box-sizing:border-box;
    font-family:var(--font);
    font-size:var(--font-size);
    line-height:1.15;
    scroll-behavior:smooth;
    -moz-osx-font-smoothing:grayscale;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%
}
body{
    background-color:var(--bg);
    color:var(--color);
    line-height:1.3;
    min-height:100vh;
    overflow-x:hidden
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block
}
h1,h2,h3,h4,h5,h6{
font-weight: bold;
    clear:both;
    margin:0
}
.h1{
    font-size:var(--h1)
}
.h2{
    font-size:var(--normal)
}
.h3{
    font-size:var(--h3)
}
@media (min-width:48em){
    .h4{
        font-size:var(--h4)
    }
}
.normal{
    font-size:var(--normal)
}
.small,small{
    font-size:var(--small)
}
p{
    margin:0 0 var(--unit);
    font-family:var(--text-font)
}
p{
    margin-bottom:1.5em
}
blockquote:before{
    content:"â€œ";
    font-size:6.25rem;
    left:0;
    position:absolute;
    top:0rem
}
blockquote{
    display:block;
    font-family:var(--text-font);
    left:0;
    margin:0 0 var(--unit);
    max-width:75ch;
    padding:3rem 2rem 2rem 4rem;
    position:relative
}
dl,ol,ul{
    margin:0
}
ul{
    list-style:circle
}
ol{
    list-style-type:none;
    counter-reset:item;
    margin:0;
    padding:0
}
ol>li{
    display:table;
    counter-increment:item;
    margin-bottom:0.25rem
}
li>ol{
    margin-top:0.25rem
}
ol>li:before{
    content:counters(item,".") ". ";
    display:table-cell;
    padding-right:0.25rem
}
li ol>li:before{
    content:counters(item,".") " "
}
dt{
    font-weight:normal
}
dd{
    margin:0 var(--unit) var(--unit)
}
abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    -webkit-text-decoration:underline dotted;
    text-decoration:underline dotted
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-0.25rem
}
sup{
    top:-0.5rem
}
hr{
    border:0;
    background-color:var(--white);
    height:1px;
    margin:1rem auto 1rem;
    width:100%
}
del,s{
    text-decoration:line-through
}
dfn,em,i{
    font-style:italic
}
b,strong{
    font-weight:bolder
}
address{
    margin:0 0 var(--unit)
}
mark{
    background-color:var(--highlight)
}
ins{
    text-decoration:underline
}
a{
    background-color:transparent;
    color:var(--linkcolor);
    touch-action:manipulation
}
a[disabled]{
    pointer-events:none
}
figure{
    margin:0 0 var(--unit);
    max-width:100%
}
figure figcaption{
    font-size:var(--small)
}
img{
    line-height:1;
    height:auto;
    max-width:100%;
    border-style:none;
    margin:0;
    vertical-align:middle
}
audio,embed,iframe,img,object,video{
    max-width:100%;
    margin:0 0 var(--unit)
}
iframe{
    border:none;
    scrollbar-width:thin;
    width:100%
}

.aligncenter{
    clear:both
}
.grid{
    display:grid
}
.flex{
    display:flex
}
.flex-column{
    flex-direction:column
}
.jc-sb{
    justify-content:space-between
}
.flex-start{
    align-self:flex-start
}
.flex-end{
    align-self:flex-end
}
.grid-column-gap,.grid-column-gap-1{
    grid-column-gap:1rem
}
.grid-column-gap-2{
    grid-column-gap:2rem
}
.grid-column-gap-3{
    grid-column-gap:3rem
}
.grid-2{
    grid-template-columns:repeat(2,minmax(0,1fr))
}
.grid-column-span-2{
    grid-column:1/3
}
@media (min-width:48em){
    .grid-md-2{
        grid-template-columns:repeat(2,minmax(0,1fr))
    }
}
.grid-1-2{
    grid-template-columns:1fr 2fr
}
@media (max-width:47.99em){
    .grid-until-md-2{
        grid-template-columns:repeat(2,minmax(0,1fr));
        position:relative
    }
}
@media (max-width:47.99em){
    .grid-until-md-1{
        grid-template-rows:repeat(1,minmax(0,1fr));
        position:relative
    }
}
@media (max-width:47.99em){
    .grid-until-md-1-2{
        grid-template-columns:1fr 2fr
    }
}
@media (min-width:48em){
    .grid-md-2-1-1{
        grid-template-columns:2fr 1fr 1fr
    }
}
@media (min-width:48em){
    .grid-md-3{
        grid-template-columns:repeat(3,minmax(0,1fr))
    }
}
@media (min-width:48em){
    .grid-md-4{
        grid-template-columns:repeat(4,minmax(0,1fr))
    }
}
@media (min-width:62em){
    .grid-lg-4{
        grid-template-columns:repeat(4,minmax(0,1fr))
    }
}
.alignfull,.full-width{
    width:100vw
}
.w-50,.w-50 img{
    width:50vw
}
.mw-50{
    max-width:50%
}
.mh300{
    min-height:17rem
}
.alt-font,.altfont,.font-alt{
    font-family:var(--alt-font)
}
.static{
    position:static
}
.relative{
    position:relative
}
.absolute{
    position:absolute
}
.fixed{
    position:fixed
}
.sticky{
    position:sticky
}
.ttc{
    text-transform:capitalize
}
.ttl{
    text-transform:lowercase
}
.ttu{
    text-transform:uppercase
}
.ttn{
    text-transform:none
}
.db{
    display:block
}
.dib{
    display:inline-block
}
.di{
    display:inline
}
.mw-20{
    max-width:20rem
}
.c-black{
    color:var(--black)
}
.c-dark-grey{
    color:var(--dark-grey)
}
.c-dark-green{
    color:var(--dark-green)
}
.c-bright-green{
    color:var(--bright-green)
}
.c-ash{
    color:var(--ash)
}
.c-mid-grey{
    color:var(--mid-grey)
}
.c-grey{
    color:var(--grey)
}
.c-light-grey{
    color:var(--light-grey)
}
.c-pink{
    color:var(--pink)
}
.c-red{
    color:var(--red)
}
.c-orange{
    color:var(--orange)
}
.c-yellow{
    color:var(--yellow)
}
.c-white{
    color:var(--white)
}
.bg-black{
    background-color:var(--black)
}
.bg-ash{
    background-color:var(--ash)
}
.bg-pink{
    background-color:var(--pink)
}
.bg-red{
    background-color:var(--red)
}
.bg-orange{
    background-color:var(--orange)
}
.bg-yellow{
    background-color:var(--yellow)
}
.bg-grey{
    background-color:var(--grey)
}
.bg-mid-grey{
    background-color:var(--mid-grey)
}
.bg-light-grey{
    background-color:var(--light-grey)
}
.bg-dark-grey{
    background-color:var(--dark-grey)
}
.bg-dark-green{
    background-color:var(--dark-green)
}
.bg-bright-green{
    background-color:var(--bright-green)
}
.bg-white{
    background-color:var(--white)
}
a.hover-c-white{
    color:var(--white)
}
@media (min-width:48em){
    .md-fr{
        float:right
    }
}
.bold,.bold p{
    font-weight:bold
}
.box-shadow,.box-shadow img{
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    margin-bottom:0
}
.drop-shadow,.drop-shadow img{
    filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.2))
}
.ph2{
    padding-right:2rem;
    padding-left:2rem
}
.lh1{
    line-height:1
}
.column-gap-0{
    grid-column-gap:0rem
}
@media (min-width:62em){
    .grid-lg-4{
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-column-gap:2rem
    }
}
.alt-bg{
    background-color:var(--color-secondary)
}
.search-open{
    display:block
}
.round,.round img{
    border-radius:100%
}
.tal{
    text-align:left
}
.tac{
    text-align:center
}
.tar{
    text-align:right
}
.vh100{
    height:100vh
}
.vw100{
    width:100vw
}
.max-width-500{
    max-width:31.25rem
}
@media (min-width:48em){
    .show-sm{
        display:none
    }
}
@media (max-width:47.99em){
    .hide-sm{
        display:none
    }
}

.p1{
    padding:1rem
}
.p-no-m p{
    margin-bottom:0rem
}
.mb0{
    margin-bottom:0!important
}
.mb05{
    margin-bottom:0.5rem
}
.mb1{
    margin-bottom:1rem
}
.mb2{
    margin-bottom:2rem
}
.mb3{
    margin-bottom:3rem
}
.mt1{
    margin-top:1rem
}
.mr05{
    margin-right:0.5rem
}
.mr1{
    margin-right:1rem
}
.mr2{
    margin-right:2rem
}
.ml1{
    margin-left:1rem
}
.ml0{
    margin-left:0!important
}
.m0,.m0 figure,.m0 img{
    margin:0!important
}
.mh-auto{
    margin-left:auto;
    margin-right:auto
}
.pl0{
    padding-left:0!important
}
.pt1{
    padding-top:1rem
}
.pt0{
    padding-top:0rem
}
.pb1{
    padding-bottom:1rem
}
.pb2{
    padding-bottom:2rem
}
.p2{
    padding:2rem
}
.ph1{
    padding-left:1rem;
    padding-right:1rem
}
.pl1{
    padding-left:1rem
}
.pv1{
    padding-top:1rem;
    padding-bottom:1rem
}
.pv2{
    padding-top:2rem;
    padding-bottom:2rem
}
.pv05{
    padding-top:0.5rem;
    padding-bottom:0.5rem
}
.pr2{
    padding-right:2rem
}
@media (min-width:48em){
    .p2-md{
        padding:2rem
    }
}
.border{
    border:1px solid var(--white)
}
.border-top{
    border-top:1px solid var(--white)
}
.border-bottom{
    border-bottom:1px solid var(--white)
}
.border-light-grey{
    border-color:var(--light-grey)
}
.border-mid-grey{
    border-color:var(--mid-grey)
}
.border-grey{
    border-color:var(--grey)
}
.border-dark-grey{
    border-color:var(--black)
}
.border-black{
    border-color:var(--black)
}
.font-size-1{
    font-size:var(--font-size-1)
}
.font-size-2{
    font-size:var(--font-size-2)
}
.font-size-3{
    font-size:var(--font-size-3)
}
.font-size-4{
    font-size:var(--font-size-4)
}
.font-size-5{
    font-size:var(--font-size-5)
}
.font-size-6{
    font-size:var(--font-size-6)
}
.alignleft{
    float:left;
    margin-right:var(--unit);
    margin-bottom:var(--unit)
}
.alignright{
    float:right;
    margin-left:var(--unit);
    margin-bottom:var(--unit)
}
.aligncenter{
    clear:both;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:var(--unit)
}
.lh1{
    line-height:1
}
.normal{
    font-weight:normal
}
.opacity-2{
    opacity:0.2
}
@keyframes fadeInFromNone{
    0%{
        display:none;
        opacity:0
    }
    1%{
        display:block;
        opacity:0
    }
    to{
        display:block;
        opacity:1
    }
}
.jetpack-video-wrapper,.video-wrapper{
    position:relative;
    padding-bottom:56.25%;
    height:0;
    margin:0rem
}
.jetpack-video-wrapper embed,.jetpack-video-wrapper iframe,.jetpack-video-wrapper object,.jetpack-video-wrapper video,.video-wrapper embed,.video-wrapper iframe,.video-wrapper object,.video-wrapper video{
    position:absolute;
    top:0;
    left:0;
    width:100%!important;
    height:100%!important;
    z-index:1;
    margin:0 0 1rem!important
}
.wp-block-embed-youtube{
    margin-bottom:0
}
.jetpack-video-wrapper{
    margin-bottom:0!important
}
.round{
    border-radius:100%
}
.inner-shadow{
    box-shadow:inset 0px -11px 8px -10px rgba(0,0,0,0.5)
}

.main-navigation{
    text-transform:uppercase
}
.menu-primary-container ul{
    width:100%;
    display:flex;
    flex-direction:row
}
.menu-primary-container ul li{
    flex:1
}
.menu-primary-container ul li a{
    display:block
}
.menu-primary-container ul li a:hover{
    filter:brightness(0.95)
}
.subsite-notice{
    display:flex;
    justify-content:space-between
}
.site-main{
    min-height:calc(100vh - 11.375rem);
    min-height:calc(100vh - 8.375rem)
}
.home .site-main{
    min-height:auto
}
.home-section-sections{
    border-top:2px solid var(--black);
    padding:2rem 0 0
}
.home-section-sections h2{
    padding-left:1rem
}
@media (max-width:47.99em){
    .wp-block-image .wp-image-148{
        max-width:50vw
    }
}
.block-exhibition{
    color:white
}
.exhibition-item{
    position:relative;
    text-align:center
}
@media (min-width:48em){
    .exhibition-item{
        top:-4rem
    }
}
.innovation-logo{
    max-width:10rem
}
@media (min-width:48em){
    .innovation-logo{
        bottom:0rem;
        position:absolute
    }
}
.subsite-notice a:hover{
    color:var(--white)
}
.card{
    background-color:var(--ash);
    border-radius:var(--border-radius);
    color:var(--dark-grey);
    display:inline-block;
    padding:0 0 1rem;
    word-break:break-all;
    word-break:break-word;
    -webkit-hyphens:auto;
    hyphens:auto
}
.person-cardimg{
    display:inline-block;
    padding:0 0 1rem;
    text-align:center
}
.person-card img{
    border-radius:var(--round-radius);
    height:200px;
    width:200px;
    object-fit:cover
}
.card h2{
    padding:0.5rem
}
.card img{
    border-radius:var(--border-radius) var(--border-radius) 0 0
}
.site-header-top-level{
    background-color:var(--pink)
}
.site-header-mid-level{
    background-color:var(--dark-grey);
    color:var(--white)
}
.video-wrapper figcaption{
    padding:1rem 0 0 0
}
figure.containerZoom{
    background-color:rgba(0,0,0,0.2);
    background-position:50% 50%;
    position:relative;
    width:100%;
    overflow:hidden;
    cursor:zoom-in;
    margin:0
}
figure.containerZoom:before{
    content:"ZOOM";
    position:absolute;
    top:calc(50% - 1.5rem);
    left:calc(50% - 3.125rem);
    background-color:var(--white);
    border-radius:3rem;
    padding:0.375rem 1rem
}
figure.containerZoom.active:before{
    content:"";
    background-color:transparent
}
figure.containerZoom img{
    transition:opacity 0.5s;
    display:block;
    width:100%;
    max-width:100vw;
    margin:0 0 0rem
}
figure.containerZoom.active img{
    opacity:0
}
@media (min-width:48em){
    .cf21-headimg{
        max-width:60vw
    }
}
.site-footer{
    background-color:var(--ash);
    color:var(--dark-grey);
    padding:1rem
}
.site-footer a{
    color:var(--dark-grey)
}
.site-footer .btn{
    background-color:var(--white)
}
#social{
    margin:2rem 0 0 0
}
#social li{
    display:inline-block
}
#social a{
    display:block;
    text-indent:-9000em;
    overflow:hidden;
    height:1.5rem;
    width:1.5rem;
    margin-right:0.5rem;
    background-image:url(//pd.gsainnovationschool.co.uk/fe21/wp-content/themes/_pd/imgimg/web.svg);
    background-repeat:no-repeat;
    background-size:1.5rem 1.5rem
}
#social a[href*="https://www.neil-scott.com/feed"]{
    background-image:url(//pd.gsainnovationschool.co.uk/fe21/wp-content/themes/_pd/img/rss.svg)
}
#social a[href*="https://facebook.com"],#social a[href*="https://www.facebook.com"]{
    background-image:url(//pd.gsainnovationschool.co.uk/fe21/wp-content/themes/_pd/img/facebook.svg)
}
#social a[href*="https://www.youtube.com"],#social a[href*="https://youtube.com"]{
    background-image:url(//pd.gsainnovationschool.co.uk/fe21/wp-content/themes/_pd/img/youtube.svg)
}
#social a[href*="https://instagram.com"],#social a[href*="https://www.instagram.com"]{
    background-image:url(//pd.gsainnovationschool.co.uk/fe21/wp-content/themes/_pd/img/instagram.svg)
}
#social a[href*="https://twitter.com"],#social a[href*="https://www.twitter.com"]{
    background-image:url(//pd.gsainnovationschool.co.uk/fe21/wp-content/themes/_pd/img/twitter.svg)
}
#social a[href*="https://linkedin.com"],#social a[href*="https://www.linkedin.com"]{
    background-image:url(//pd.gsainnovationschool.co.uk/fe21/wp-content/themes/_pd/img/linkedin.svg)
}
#social a[href^=".."],#social a[href^="/"]{
}
#social a[href^="mailto:"]{
    background-image:url(//pd.gsainnovationschool.co.uk/fe21/wp-content/themes/_pd/img/mail.svg)
}
.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation{
    margin:0 0 1.5em
}
.comment-navigation .nav-links,.post-navigation .nav-links,.posts-navigation .nav-links{
    display:flex
}
.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous{
    flex:1 0 50%
}
.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next{
    text-align:end;
    flex:1 0 50%
}
.sticky{
    display:block
}
.updated:not(.published){
    display:none
}
.widget{
    margin:0 0 1.5em
}
.widget select{
    max-width:100%
}
.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley{
    border:none;
    margin-bottom:0;
    margin-top:0;
    padding:0
}
.custom-logo-link{
    display:inline-block
}
.wp-caption{
    margin-bottom:var(--unit);
    max-width:100%
}
.wp-caption imgimg[class*=wp-image-]{
    display:block;
    margin-left:auto;
    margin-right:auto
}
.wp-caption .wp-caption-text{
    margin:0
}
.wp-caption-text{
    text-align:center
}
.alignleft{
    float:left;
    margin-right:1.5em;
    margin-bottom:1.5em
}
.alignright{
    float:right;
    margin-left:1.5em;
    margin-bottom:1.5em
}
.aligncenter{
    clear:both;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1.5em
}
.gallery{
    margin-bottom:var(--unit);
    display:grid;
    grid-gap:var(--unit)
}
.gallery-item{
    display:inline-block;
    text-align:center;
    width:100%
}
.gallery-columns-2{
    grid-template-columns:repeat(2,1fr)
}
.gallery-columns-3{
    grid-template-columns:repeat(3,1fr)
}
.gallery-columns-4{
    grid-template-columns:repeat(4,1fr)
}
.gallery-columns-5{
    grid-template-columns:repeat(5,1fr)
}
.gallery-columns-6{
    grid-template-columns:repeat(6,1fr)
}
.gallery-columns-7{
    grid-template-columns:repeat(7,1fr)
}
.gallery-columns-8{
    grid-template-columns:repeat(8,1fr)
}
.gallery-columns-9{
    grid-template-columns:repeat(9,1fr)
}
.gallery-caption{
    display:block
}
.screen-reader-text{
    border:0;
    clip:rect(1px,1px,1px,1px);
    -webkit-clip-path:inset(50%);
    clip-path:inset(50%);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute!important;
    width:1px;
    word-wrap:normal!important
}
.screen-reader-text:focus{
    background-color:#f1f1f1;
    border-radius:3px;
    box-shadow:0 0 2px 2px rgba(0,0,0,0.6);
    clip:auto!important;
    -webkit-clip-path:none;
    clip-path:none;
    color:#21759b;
    display:block;
    font-size:0.875rem;
    font-weight:700;
    height:auto;
    left:5px;
    line-height:normal;
    padding:15px 23px 14px;
    text-decoration:none;
    top:5px;
    width:auto;
    z-index:100000
}
#primary[tabindex="-1"]:focus{
    outline:0
}
#content[tabindex="-1"]:focus{
    outline:0
}
