@font-face {
    font-family: 'VAG Rounded Std';
    src: url('/fonts/subset-VAGRoundedStd-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VAG Rounded Std';
    src: url('/fonts/subset-VAGRounded-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}