


 .btn-wrap {
  border: 0;
  color: white;
}


textarea {
  /* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
  max-width: 100%;
}


input { background-color: white; border: 1px solid black;
  padding: .25rem;
  height: 2.25rem;
  border:1px solid #aaa;
  border-radius:.25rem;
  font-size: 1.25rem;
  top: .25rem;
  display: inline-block;
  position:relative;

}

input[name="zero"]{
   max-width: 8rem;
}

table input {
   max-width: 2rem;
 @include mq($from:m) {
 max-width: 4rem;
}
}
.btn {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
  border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
        line-height: normal;
    overflow: visible;
    padding: .375rem 1rem .25rem;
    vertical-align: middle;
    text-align: center;
    text-decoration: none !important;
    background-color: var(--tomato);
    color: white;
font-size: 1.25rem;
font-weight: bold;
    border: 1px solid var(--tomato);
    margin: 0 auto;

    user-select: none;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    box-shadow: .25rem .25rem 0 var(--magenta);
    position: relative;


  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
      border-radius: .25rem;
    width: 100%;
    z-index: -1;
    background-color: var(--magenta);

    transition: all .5s;
}


&:hover, &:focus,&:active {
    top: .25rem;
    left: .25rem;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    color: var(--tomato);

    background-color: var(--white);
}
}