form{
    margin-bottom:var(--unit);
    font-family:var(--brand-font)
}
form p{
    font-family:var(--brand-font)
}
fieldset{
    min-width:0;
    border:0;
    padding:0;
    margin:0 0 var(--unit)
}
fieldset ol,fieldset ul{
    list-style:none;
    margin:0
}
legend{
    color:inherit;
    display:table;
    font-weight:700;
    margin:0 0 var(--unit-half);
    max-width:100%;
    padding:0;
    white-space:normal
}

.clearinput, .readonly,  .readonly:active,  .readonly:focus, input[readonly],textarea[readonly]{
  border:0;
  display: inline-block;
 background-color: white;
 outline: none;
 cursor: pointer;
}
label{
    cursor:pointer;
    font-weight:500
}
button,input,label,optgroup,option,select,summary,textarea{
    color:var(--color-text-alpha);
    font:inherit;
    font-size:var(--small);
    font-family:var(--brand-font);
    text-transform:none;
    touch-action:manipulation
}
button,input,label,select,textarea{
    display:block;
    overflow:visible
}
input,select,textarea{
    background-color:var(--color-bg-omega);
    border:1px solid var(--color-border-alpha);
    color:var(--color-text-alpha);
    margin:0 0 var(--unit) 0;
    padding:0.5rem 0.5rem
}
textarea{
    max-height:8rem;
    overflow:auto;
    resize:vertical;
    width:100%
}
[type=checkbox],[type=radio]{
    display:inline-block;
    padding:0;
    margin:0
}
input[type=checkbox]+label,input[type=radio]+label{
    display:inline-block;
    font-weight:normal;
    position:relative;
    top:1px
}
input[type=radio]:checked+label{
    font-weight:normal
}




 .btn-wrap {
  border: 0;
  color: white;
}


textarea {
  /* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
  max-width: 100%;
}


input { background-color: white; border: 1px solid black;
  padding: .65rem;
  height: 2.25rem;
  border:1px solid #aaa;
  border-radius:.25rem;
  font-size: 1.25rem;
  top: .25rem;
  display: inline-block;
  position:relative;
}

table input {
   max-width: 2rem;
 @include mq($from:m) {
 max-width: 4rem;
}
}
.btn {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
  border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
        line-height: normal;
    overflow: visible;
    padding: .375rem 1rem .25rem;
    vertical-align: middle;
    text-align: center;
    text-decoration: none !important;
    background-color: var(--tomato);
    color: white;
font-size: 1.25rem;
font-weight: bold;
    border: 1px solid var(--tomato);
    margin: 0 auto;

    user-select: none;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    box-shadow: .25rem .25rem 0 var(--magenta);
    position: relative;


  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
      border-radius: .25rem;
    width: 100%;
    z-index: -1;
    background-color: var(--magenta);

    transition: all .5s;
}


&:hover, &:focus,&:active {
    top: .25rem;
    left: .25rem;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    color: var(--tomato);

    background-color: var(--white);
}
}