header {
  background-color: var(--beige);
  border-top: 2px solid var(--tomato);
  padding: 1.25rem 1rem 1.25rem;

  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  z-index: 0;
}

.site-title {
  border:0;
  display: inline-block;
}
.logo {
  margin:0;
  width: 7.5rem;
}

