header {
  background-color: var(--beige);
  border-top: 2px solid var(--tomato);
  padding: 1.25rem 1rem 1.25rem;
//  box-shadow: inset 0px -11px 8px -10px rgba(0,0,0,0.2);
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  z-index: 0;
}

.site-title {
  border:0;
  display: inline-block;
}
.logo {
  margin:0;
  width: 7.5rem;
}

article {
    box-shadow:  0px -11px 8px -10px rgba(0,0,0,0.2);
}