
.container {
  max-width: 80rem;
  margin:0 auto;
  position:relative;
}

.article {
  background-color: var(--white);
  min-height: calc(100vh - 8rem);
 // overflow-x: hidden;
  position:relative;

  z-index: 1;
  padding: 2rem 1rem 4rem;
  box-shadow:  0px -11px 8px -10px rgba(0,0,0,0.2), 0 11px 8px -10px rgba(0,0,0,0.2);
}


.document {

    background: white;
    box-shadow: 0 2px 7px rgba(0,0,0,.3);
   // margin: 2rem auto;
   margin-right: 2rem;
    padding: 3rem 2rem;
max-width: 75ch;

//transform: rotate(1deg);

}




#date {
  color: #111;
  position:absolute;
  top: 7%;
left: 6%;

  font-size: .5rem;

  font-family: "Times New Roman", serif;
  @include mq($from:m) {
  top: 7%;
left: 6%;
font-size: .5rem;
}
}


.bug {
  padding: 1rem 1rem 1rem;
  margin-top: 0rem;
  max-height: 60vh;
}



.infobox {
  padding: 1.5rem 7rem 0rem 1rem;
  margin: 0 0 1rem;
  border-radius: 1rem;
  border:1px solid;
  position:relative;


  &::before {
    content: '?';
    position:absolute;
   color:#CED792;
    top: 20%;
    line-height: 1;
    right: 1rem;
    font-size: 10rem;
    z-index: 1;
//opacity:.2;
  }

}

.Environment {
  .infobox {
  background-color: #F1F4DD;
border-color:  #CED792;

&::before {
color:#CED792;
  }
}

}

.Employment {
  .infobox {
  background-color: #E4F3F9;
  border-color:#B2DCEE;

  &::before {
color:#B2DCEE;
  }
}

}



.certificate {
 // background-color: var(--beige);
  margin: 0 auto;
  color: var(--tomato);

  #name {
    color: black;
    font-family: cursive;
    font-size: 2rem;
  }
}