

.table-overflow {

  overflow-x: auto;
 //   display: block;
   // position:relative;
}
table {
  /* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
  border-collapse: collapse;
  width: 100%;
   //border-top: 1px solid #aaa;
  // border-left: 1px solid #aaa;

}

td,
th {
  border: 1px solid #aaa;
  text-align: left;
  padding: .5rem;
}

.bb {
  border-bottom: 2px solid #666;
}



th {

   padding: 1rem .5rem;
}


tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: #eee;
}


table caption {
  font-weight: bold;
  margin-bottom: .5rem;
}



 td,th {
  text-align:center;
}

table {
  font-family: Calibri, Arial,sans-serif
}
table {
  input {
      font-family: Calibri, Arial,sans-serif
  }
}


.bold {
    font-weight: bold;
}




.Environment {
  th {
  background: #CED792;
}
  tr:nth-child(even)  {
  background: #F1F4DD;
}

}

.Employment {
  th {
  background: #B2DCEE;
}
  tr:nth-child(even)  {
  background: #E4F3F9;
}

}
